* {
    box-sizing: border-box;
   
  }
  body {
    font-family: 'Poppins', sans-serif;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    min-height: 100vh;
    height: auto;
  }
  html, body {
    overflow: hidden;
  }
  .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    
    overflow: hidden;
    width: 1000px;
    height: 500px;
    max-height: 100%;
    min-height: 500px;
    max-width: 100%;

    min-height: 480px;
    transition: all 0.6s ease-in-out;
  }
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  .overlay {
    background: linear-gradient(#2a2655, #3c3873, #4d4d66);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    color: white;
  }
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  .overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out;
  }
  .overlay-left {
    transform: translateX(-20%);
  }
  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  button {
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }
  form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #130346;
  }
  form input{
    border: 1px solid #f5f7fc;
    border-radius: 5px;
    border-style: solid;
    background: transparent;
    border-bottom: 1px solid #484747;
  }

  form button{
    color: #130346;
    border: 1px solid #130346
    ;
  }
  form button:hover{
    background-color: #2a2655;
    color: #eee;
  }
  form input {
    
    
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  

  
  body.dark {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }
  
  body.dark .container {
    background: #333;
  }
  
  body.dark .form-container {
    background-color: #444;
  }
  
  body.dark .overlay {
    background: linear-gradient(#2a2655, #3c3873, #4d4d66);
    color: white;
  }
  
  body.dark .overlay-panel h1,
  body.dark .overlay-panel p {
    color: white;
  }
  
  body.dark button {
    background-color: #6200ea;
    color: #fff;
  }
  
  body.dark button:hover {
    background-color: #3700b3;
  }
  
  body.dark form {
    background-color: #333;
    color: white;
  }
  
  body.dark form input {
    color: #fff;
    border-bottom: 1px solid #888;
  }
  
  body.dark form input:focus {
    border-bottom: 2px solid #bbb;
  }
  
  body.dark form button {
    background-color: #212153;
    color: #ffffff;
  }
  
  body.dark form button:hover {
    background-color: #2a2655;
  }


  @media (max-width: 768px) {
    
    .container {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  
    .form-container {
      width: 100%;
      height: 50%;
      position: re;

    }

  
  
    .sign-in-container {
      top: 0;
      z-index: 2;
      opacity: 1;
      
    }
    .sign-up-container {
      top: 100%;
      
      z-index: 1;
      opacity: 0;
      
      transition: all 0.6s ease-in-out;
      overflow: hidden;
     
    }
  
    .container.right-panel-active .sign-in-container {
      transform: translateY(-100%);
    }
  
    .container.right-panel-active .sign-up-container {
      transform: translateY(-100%);
      opacity: 1;
      z-index: 5;
    }
  
    .overlay-container {
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      transition: transform 0.6s ease-in-out;
      overflow: hidden;
    }
  
    .container.right-panel-active .overlay-container {
      transform: translateY(-100%);
    }
  
    .overlay {
      width: 100%;
      height: 200%;
      left: 0;
      top: -100%;
      transform: translateY(0);
      transition: transform 0.6s ease-in-out;
    }
  
    .container.right-panel-active .overlay {
      transform: translateY(50%);
    }
  
    .overlay-panel {
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
    }
  
    .overlay-left {
      transform: translateY(-20%);
    }
  
    .container.right-panel-active .overlay-left {
      transform: translateY(0);
    }
  
    .overlay-right {
      top: 50%;
      transform: translateY(0);
    }
  
    .container.right-panel-active .overlay-right {
      transform: translateY(20%);
    }
    h1{
      font-size: 20px;
    }
    form input{
      font-size: 16px;
      height: 38px;
    }
    p{
      font-size: 14px;
    }

  
  }
  